@tailwind base;
@tailwind components;
@tailwind utilities;

/* font for normal pragrapn text*/
.cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }
  /* font for small headings*/
  .platypi{
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-style:italic;
    font-weight: bold;
  }
  /* font for large headings*/
  .merriweather-sans {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
