.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0; /* Adjust as needed */
}

.content {
    position: relative;
    z-index: 10;
    color: white;
    padding: 16px; /* Adjust as needed */
}