.bg-img-stat {
    background: url("./bgimg.jpg") center center/cover fixed;
    position: relative;
    overflow: hidden; /* Ensure the overlay does not overflow */
    
}

.translucent-blue {
    background-color: rgba(171, 222, 232, 0.8); /* Blue translucent color */
}

